body{
  background-color:#e3e3e3;
}
h1{
  text-align:center;
  font-size: 32px;
  color: black;
 
}
h3{
    color: #783c00;
    text-align:center;
    font-size: 20px;
}

figure{
  display: flex;
  justify-content: center;
  height: 350px;
}

img {
  width: 30%;
  height: 280px;
  border-radius: 8px;
}



p{
  color:red;
  margin-left:30px;
}

ul{
  text-align:center;
  
}
li{
  list-style:none;
  color: red;
}
