*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
   background-color: #F8F9F9;
    background-size: cover;
}
header {
  padding: 2%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;    
}

.neo{
 width: 300px;
 margin-top:20px;
 border: outset white;
}

.glow{
  font-size: 30px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #10FB5F , 0 0 40px #10FB5F , 0 0 50px #10FB5F , 0 0 60px #10FB5F , 0 0 70px #10FB5F ;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #105928 , 0 0 40px #105928 , 0 0 50px #105928 , 0 0 60px #105928 , 0 0 70px #105928 , 0 0 80px #105928 ;
  }
}

h2{
  font-style:italic;
  margin-top:15px;
  color: #245909;
  text-shadow: 2px 1px #FFFFFF;
}

h4{
 color: #37603F;
}
p{
  font-size: 10px;
  margin-
}

.css img{
  width: 77%;
}
.css{
    
    font-size: 20px;
    font-weight: bold;
    margin-top: 7%;
    margin-left: 2%;
}
.buzz{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 6%;
}
.buzz img{
    width: 44%;
}
.quiz{
    display: flex;
}
.lista{
    margin-top: 7%;
    margin-left: 2%;

}
.lista ol{
    font-weight: bold;
}
.da{
    margin-top: 2%;
}
.foot{
    margin-top: 4%;
    margin-left: 2%;
}

.foot img{
    margin-left: 30%;
    width: 19%;
}
