body {
	background-image: linear-gradient(
		190deg,
		red,
		green,
		yellow,
		pink,
		yellowgreen,
		cyan
	);
}

nav ul {
	list-style: circle;
}

nav a {
	text-decoration: none;
	color: red;
	background-color: green;
}

.subtitle {
	text-align: center;
	font-size: 40px;
}

.list {
	color: #ffffff;
	list-style: upper-roman;
}
